.foodTitle {
  border-bottom: 1px solid #868686;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.textDiv {
  width: 45%;
}
.imgDiv {
  width: 50%;
}
a {
  color: white;
  transition: 0.4s;
}
a:hover {
  color: #ff0044;
}
.foodImg {
  width: 100%;
}
.cardImage {
  width: 350px;
  cursor: pointer;
  border: 1px solid white;
  transition: 0.4s;
}
.cardImage:hover {
  border-color: #ff0044;
}
@media (max-width: 570px) {
  .mainContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .textDiv {
    width: 100%;
  }
  .imgDiv {
    width: 100%;
  }
}