.food-card {
  width: 320px;
  border: 1px solid white;
  cursor: pointer;
  transition: 0.4s;
}
.food-card:hover {
  border-color: #ff0044;
}
.imageCard {
  width: 100%;
}
.food-information {
  padding: 14px 20px;
}